Repository KosmosOgKaos/island.is, changes with the owners that .github/CODEOWNERS names for each.
All owners: @island-is/core, @island-is/kosmos-kaos, @island-is/vice-versa, @island-is/aranja, @island-is/kolibri, @island-is/sendiradid, @island-is/stefna, @island-is/island-ui, @island-is/devops

.github/CODEOWNERS:

# Fallback. If there is no owner, assign to core maintainers.
*                               @island-is/core

# Project folders are usually owned by the team assigned.
# Add new projects here.

/apps/adgerdir*/                @island-is/kosmos-kaos
/apps/web*/                     @island-is/kosmos-kaos
/libs/api/cms/                  @island-is/kosmos-kaos

air-discount-scheme/            @island-is/vice-versa
gjafakort/                      @island-is/vice-versa

/apps/application-system/       @island-is/aranja
/libs/api/application/          @island-is/aranja
/libs/application/              @island-is/aranja

/apps/judicial-system/          @island-is/kolibri
/libs/judicial-system/          @island-is/kolibri
/libs/nova-sms/                 @island-is/kolibri

service-portal*/                @island-is/sendiradid
/libs/api/documents/            @island-is/sendiradid

/apps/services/search-indexer/  @island-is/stefna
content-search/                 @island-is/stefna

/libs/island-ui/                @island-is/island-ui

/apps/reference-backend/        @island-is/devops
/libs/infra*/                   @island-is/devops
/libs/logging/                  @island-is/devops
/scripts/                       @island-is/devops

ServiceRepository Changing id to string from number
  apps/api-catalog/components/ServiceCard/ServiceCard.tsx
  apps/api-catalog/components/ServiceDetail/ServiceDetail.tsx
  apps/api-catalog/components/ServiceRepository/ServiceRepository.ts
  apps/api-catalog/screens/Services/ServiceList/ServiceList.tsx
Owners: @island-is/core

laga ServiceRepository.test
  apps/api-catalog/components/ServiceRepository/ServiceRepository.test.ts
Owners: @island-is/core

wip, don't look
  apps/api/generateSchema.ts
  apps/api/src/api2.graphql
  libs/api/domains/application/src/index.ts
  libs/api/domains/cms/src/index.ts
  libs/api/domains/cms/src/lib/generated/contentfulTypes.d.ts
  libs/api/domains/content-search/src/index.ts
  libs/api/domains/documents/src/index.ts
  libs/api/domains/file-upload/src/index.ts
  libs/api/domains/hello-world/src/index.ts
  libs/api/domains/translations/src/index.ts
  libs/logging/src/lib/logging.ts
  package.json
  scripts/codegen.sh
  workspace.json
Owners: @island-is/core, @island-is/stefna, @island-is/devops

Added contentful api connection
  apps/api-catalog/components/Card/Card.tsx
  apps/api-catalog/components/Header/Header.tsx
  apps/api-catalog/pages/_app.tsx
  apps/api-catalog/pages/design-guide.tsx
  apps/api-catalog/pages/index.tsx
  apps/api-catalog/screens/DesignGuide/DesignGuide.tsx
  apps/api-catalog/screens/Home/Home.tsx
  apps/api-catalog/services/contentful.ts
  apps/api-catalog/services/contentful.types.ts
  apps/api-catalog/styles/global-styles.scss
Owners: @island-is/core

Update codegen
  apps/api/src/api.graphql
  libs/api/domains/application/gen/fetch/models/DataProviderDto.ts
Owners: @island-is/core

Moved static api catalogue text to contentful
  apps/api-catalog/pages/services/[service].tsx
  apps/api-catalog/pages/services/index.tsx
  apps/api-catalog/screens/ServiceDetail/ServiceDetailPage.tsx
  apps/api-catalog/screens/ServiceDetail/index.ts
  apps/api-catalog/screens/ServiceList/ServiceList.spec.tsx
  apps/api-catalog/screens/ServiceList/ServiceList.treat.ts
  apps/api-catalog/screens/ServiceList/ServiceList.tsx
  apps/api-catalog/screens/ServiceList/index.ts
  apps/api-catalog/screens/index.ts
Owners: @island-is/core

Send notification api implementations
  apps/judicial-system/api/src/environments/environment.ts
  apps/judicial-system/web/src/api/index.ts
  apps/judicial-system/web/src/index.html
  apps/judicial-system/web/src/routes/CreateDetentionRequest/StepOne/StepOne.tsx
  apps/judicial-system/web/src/routes/CreateDetentionRequest/StepTwo/StepTwo.tsx
  apps/judicial-system/web/src/shared-components/FormFooter/FormFooter.tsx
  apps/judicial-system/web/src/shared-components/Modal/Modal.treat.ts
  apps/judicial-system/web/src/shared-components/Modal/Modal.tsx
  apps/judicial-system/web/src/shared-components/Modal/index.ts
  apps/judicial-system/web/src/types.ts
  apps/judicial-system/web/src/utils/formatters.ts
  libs/island-ui/core/src/lib/Box/useBoxStyles.treat.ts
Owners: @island-is/kolibri, @island-is/island-ui

WIP
  apps/web/components/BackgroundImage/BackgroundImage.treat.ts
  apps/web/components/BackgroundImage/BackgroundImage.tsx
  apps/web/components/index.ts
  apps/web/screens/LifeEvent/LifeEvent.tsx
  libs/island-ui/contentful/src/lib/SectionWithImage/SectionWithImage.treat.ts
  libs/island-ui/contentful/src/lib/SectionWithImage/SectionWithImage.tsx
Owners: @island-is/kosmos-kaos, @island-is/island-ui

Show category for life event in search result
  apps/web/screens/Search/Search.tsx
  apps/web/screens/queries/Search.tsx
Owners: @island-is/kosmos-kaos

wip, don't look 2
  .gitignore
  apps/air-discount-scheme/api/src/app/app.module.ts
  apps/air-discount-scheme/api/src/app/modules/discount/index.ts
  apps/air-discount-scheme/api/src/app/modules/flight/index.ts
  apps/air-discount-scheme/api/src/app/modules/flightLeg/index.ts
  apps/air-discount-scheme/api/src/app/modules/index.ts
  apps/air-discount-scheme/api/src/app/modules/user/index.ts
  apps/api/generateSchema.ts
  apps/api/src/api2.graphql
  libs/api/domains/cms/src/lib/generated/contentfulTypes.d.ts
  libs/infra-nest-server/src/index.ts
  libs/infra-nest-server/src/lib/execShellCommand.ts
  libs/infra-nest-server/src/lib/generateSchema.ts
  nx.json
  package.json
  scripts/codegen.sh
  scripts/ts-node.js
  tsconfig.json
  workspace.json
Owners: @island-is/core, @island-is/vice-versa, @island-is/devops

wip, don't look 3
  libs/infra-nest-server/src/lib/generateSchema.ts
  scripts/ts-node.js
Owners: @island-is/devops

wip, don't look 4
  .gitignore
  libs/api/domains/cms/src/lib/generated/contentfulTypes.d.ts
Owners: @island-is/core

Made search use reducer
  apps/web/components/SearchInput/SearchInput.tsx
Owners: @island-is/kosmos-kaos

Made search input not wait for reoundtrip
  apps/web/components/SearchInput/SearchInput.tsx
  apps/web/graphql/schema.ts
  apps/web/screens/Search/Search.tsx
Owners: @island-is/kosmos-kaos

Fixed issues
  libs/api/content-search/src/services/elastic.service.ts
  libs/api/domains/cms/src/lib/models/lifeEventPage.model.ts
Owners: @island-is/stefna, @island-is/core

fixed format
  libs/api/content-search/src/services/elastic.service.ts
  libs/api/domains/cms/src/lib/models/aboutPage.model.ts
  libs/api/domains/cms/src/lib/search/importers/aboutPage.service.ts
  libs/api/domains/cms/src/lib/search/importers/article.service.ts
  libs/api/domains/cms/src/lib/search/importers/articleCategory.service.ts
  libs/api/domains/cms/src/lib/search/importers/lifeEventsPage.service.ts
  libs/api/domains/cms/src/lib/search/importers/news.service.ts
  libs/api/domains/content-search/src/lib/contentSearch.service.ts
  libs/api/domains/content-search/src/lib/models/searchResult.model.ts
  libs/api/schema/src/lib/context.ts
Owners: @island-is/stefna, @island-is/core

Removed console log
  apps/web/components/SearchInput/SearchInput.tsx
Owners: @island-is/kosmos-kaos

Added new type resolver
  apps/api/src/api.graphql
  apps/web/graphql/fragmentTypes.json
  libs/api/content-search/src/services/elastic.service.ts
  libs/api/domains/cms/src/index.ts
  libs/api/domains/cms/src/lib/models/aboutPage.model.ts
  libs/api/domains/cms/src/lib/models/lifeEventPage.model.ts
  libs/api/domains/cms/src/lib/search/cmsSync.module.ts
  libs/api/domains/cms/src/lib/search/cmsSync.service.ts
  libs/api/domains/cms/src/lib/search/importers/aboutPage.service.ts
  libs/api/domains/cms/src/lib/search/importers/article.service.ts
  libs/api/domains/cms/src/lib/search/importers/articleCategory.service.ts
  libs/api/domains/cms/src/lib/search/importers/lifeEventsPage.service.ts
  libs/api/domains/content-search/src/lib/contentSearch.service.ts
  libs/api/domains/content-search/src/lib/dto/searcher.input.ts
  libs/api/domains/content-search/src/lib/enums/contentLanguage.enum.ts
  libs/api/domains/content-search/src/lib/enums/searchableContentTypes.ts
  libs/api/domains/content-search/src/lib/models/searchResult.model.ts
  libs/api/schema/src/lib/context.ts
  libs/api/schema/src/lib/schema.d.ts
Owners: @island-is/core, @island-is/kosmos-kaos, @island-is/stefna

Fixed locale issue
  apps/api/src/api.graphql
  apps/web/components/SearchInput/SearchInput.tsx
  libs/api/domains/content-search/src/lib/contentSearch.resolver.ts
  libs/api/domains/content-search/src/lib/contentSearch.service.ts
  libs/api/domains/content-search/src/lib/enums/contentLanguage.enum.ts
Owners: @island-is/core, @island-is/kosmos-kaos, @island-is/stefna

Removed console log
  apps/web/components/SearchInput/SearchInput.tsx
Owners: @island-is/kosmos-kaos

Fixed format
  libs/api/domains/content-search/src/lib/contentSearch.resolver.ts
  libs/api/domains/content-search/src/lib/contentSearch.service.ts
Owners: @island-is/stefna

Reverted deconstruct
  libs/api/domains/content-search/src/lib/contentSearch.service.ts
Owners: @island-is/stefna
